Package: sixarm-debian-gimp-packages
Version: 2.7.1
Section: graphics
Priority: optional
Architecture: all
Depends: gimp, build-essential, cdbs, docbook-xsl, docbook-xsl-doc-html, fdupes,intltool, libbabl-0.0-0, libbabl-0.0-0-dev, libavcodec52, libavcodec-dev, libbabl-0.0-doc, libcairo-dev, libexif-dev, libffi-dev, libglib2.0-dev, libgtk2.0-0, libgtk2.0-bin, libgtk2.0-common, libgtk2.0-dev, libhal-dev, libjpeg-dev, liblcms1-dev, libmng-dev, libopenexr, libopenexr-dev, libopenraw, libopenraw-dev, libpango1.0-dev, libpng-dev, libpoppler-dev, libpoppler-glib-dev, libsoup2.4-dev, libtiff4-dev, libtiffxx0c2, libswscale0, libswscale-dev, libwebkit-dev, libwmf-dev, libxmu-dev, libxmu-headers, libxpm-dev, python-dev, python-gobject-dev, python-gtk2-dev, python-gtk2-doc, python2.6-dev, yasm
Suggests: gimp-help-en | gimp-help, libgimp-perl, gimp-data-extras, gvfs-backends, libasound2, ghostscript
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: GIMP packages we like to use
 GIMP packages we like to use together.



